<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .table {
          border-collapse: collapse; 
          margin: 20px 0; 
      }
      .table th, .table td {
          border: 1px solid #dee2e6; 
          padding: 8px 12px; 
      }
      .table thead th {
          border-bottom: 2px solid #dee2e6; 
      }
      .table tbody tr:nth-child(odd) {
          background-color: #f2f2f2; 
      }
  </style>
</head>


<div class="row">
  <div class="col-8 offset-1">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nombre Cientifico</th>
          <th scope="col">Alimentacion</th>
          <th scope="col">Distribución Mundial</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pinguino of pinguinos" (click)="onSelected(pinguino)">
          <th scope="row">{{pinguino.id}}</th>
          <td>{{pinguino.name}}</td>
          <td>{{pinguino.scientific_name}}</td>
          <td>{{pinguino.feeding}}</td>
          <td>{{pinguino.global_distribution}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-3" *ngIf="selected">
      <app-detail-pinguino [pinguino]="selectedPinguino"></app-detail-pinguino>
  </div>
</div>

<div class="row" *ngIf="especieConMayorDistribucion">
  <div class="col-12">
    <p class="text-center">
      La especie con mayor distribución mundial es <strong>{{ especieConMayorDistribucion.name }}</strong> con presencia en <strong>{{ especieConMayorDistribucion.global_distribution.split(', ').length }}</strong> países.
    </p>
  </div>
</div>

